@model List<ELearningSystem.Models.CourseSummaryModel>

@for (int i = 0; i < Model.Count; i++)
{
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left h4">
                @Html.DisplayFor(x => x[i].CourseName)
            </div>
            <div class="pull-right h4">
                @Html.DisplayFor(x => x[i].LecturerName)
            </div>
        </div>
        <div class="panel-body">
            <p>@(Model[i].Description.Length == 150 ? Model[i].Description + "..." : Model[i].Description)</p>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left">
                @Html.ActionLink("Learn more »", "CourseDetails", "Course", new { courseId = Model[i].CourseId }, new { @class = "btn btn-primary" })
            </div>
            <div class="pull-right">
                @Html.Label(Model[i].Category, new { name = "categoryName", @class = "btn btn-default" })
                @Html.Label("Type: " + Model[i].CourseType, new { name = "courseType", @class = Model[i].CourseType == "public" ? "btn btn-success" : "btn btn-info" })
            </div>
        </div>
    </div>
}