@model ELearningSystem.Models.CourseDetailsModel

<script type="text/javascript">
    function OnBegin() {
        $('#subscribeBut').prop('value', 'loading..');
    }
    function OnFailure() {
        alert('Error occured, please try to subscribe later');
    }
    function OnSuccess() {
        $('#subscribeBut').prop('value', 'Request send').prop('disabled', 'true');
    }
</script>

@{
    ViewBag.Title = "CourseDetails";
    AjaxOptions ajaxOpts = new AjaxOptions()
    {
        UpdateTargetId = "subscribeBut",
        HttpMethod = "Post",
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure",
        OnBegin = "OnBegin"
    };
}

<div class="clearfix">
    <div class="pull-left">
        @Html.Label("Course - " + Model.CourseName, new { @class = "h3" })
    </div>
    <!--Course is public-->
    <div class="col-sm-offset-8" style="padding-top: 15px; padding-left: 35px">
        @if (ViewBag.CanSubscribe)
        {
            using (Ajax.BeginForm("SubscribeCourse", "Course", ajaxOpts))
            {
            @Html.HiddenFor(x => x.CourseId)
            <input type="submit" class="btn btn-primary btn-xl" value=" + Subscribe" id="subscribeBut" />
            }
        }
        else if (ViewBag.HasAlreadySentRequest != null && ViewBag.HasAlreadySentRequest)
        {
            <input type="button" class="btn btn-primary btn-xl" value="Request was sent" disabled="disabled" style="margin-left: -35px;" />
        }
    </div>
</div>

<div class="col-sm-10 accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="">Course details</a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" style="height: auto;">
            <div style="margin: 10px">
                <p>Creation date: @Model.CreationDate.ToShortDateString()</p>
                <p>Complexity level: @Model.ComplexityLevel</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">Description</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" style="height: auto;">
            <div style="margin: 10px">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">Recommended background</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" style="height: auto;">
            <div style="margin: 10px">
                <p>@Model.RequiredSkills</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">Table of content</a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" style="height: auto;">
            <ul class="list-group">
                @for (int i = 0; i < Model.Details.Count; i++)
                {
                    <li class="list-group-item">@((i + 1).ToString() + ".") @Model.Details.ElementAt(i).Key
                        <ul style="list-style: none">
                            @for (int j = 0; j < Model.Details.ElementAt(i).Value.Count; j++)
                            {
                                <li>@((i + 1).ToString() + "." + (j + 1).ToString()) @Model.Details.ElementAt(i).Value[j]</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>
