@model ELearningSystem.Models.CourseDetails

@{
    ViewBag.Title = "Edit course";
}

<div class="col-sm-offset-1">
    <div class="form-horizontal">
        <div class="form-group">
            @using (Html.BeginForm("Index", "Course", FormMethod.Get, null))
            {
                <div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Back
                    </button>
                </div>
            }
        </div>
        <div class="form-group">
            <h2>Course - @Model.CourseName</h2>
        </div>
    </div>
    <div class="col-sm-offset-1">


        @using (Html.BeginForm("CreateTopic", "Course", new { courseId = Model.CourseId }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <div class="col-sm-4">
                    @Html.TextBox("newTopicName", "", new { @class = "form-control", required = "true" })
                </div>
                <div class="col-sm-3">
                    <input class="btn btn-success form-control" onclick="AddTopic($('#tableBody')); return false;" type="submit" value="+ Add topic" style="vertical-align: text-top" />
                </div>
                <div class="col-sm-3">
                    <input class="btn  btn-success form-control" onclick="$('#SaveCourseForm').submit(); return false;" value="Save changes" id="SaveChangesBut" style="display: none; vertical-align: text-top;" />
                </div>
            </div>
        }
    </div>

</div>
<br />
@*@if (Model.Topics.Count() > 0)*@
@{
    using (Html.BeginForm("EditCourse", "Course", FormMethod.Post, new { id = "SaveCourseForm" }))
    {
    @Html.HiddenFor(x => x.CourseId)
    @Html.HiddenFor(x => x.CourseName)
    <div class="col-sm-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Topic name</th>
                    <th>Lectures quantity</th>
                    <th>Tests quantity</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @Html.Partial("TopicSummary", Model)
            </tbody>
        </table>
    </div>
    }
}
@*else
{
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <h2>No topics</h2>
        </div>
    </div>
}*@

