@model Domain.Course

<tr>
    <td>
        <div>
            @using (Html.BeginForm("EditCourse", "Course", FormMethod.Get, new { style = "display:inline" }))
            {
                @Html.HiddenFor(x => x.ID)
                <button type="submit" class="btn btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            }
            @using (Html.BeginForm("DeleteCourse", "Course", new { courseId = Model.ID }, FormMethod.Post, new { style = "display:inline", onsubmit = "return confirm('Are you sure, you want to delete a course - " + @Model.Name + "?')" }))
            {
                <button type="submit" class="btn btn-xs" >
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            }
        </div>
    </td>
    <td>
        @Model.Name
    </td>
    <td>@Model.CreationDate.ToShortDateString()</td>
    <td>@( Model.EndDate.HasValue ? Model.EndDate.Value.ToShortDateString() : "--")</td>
</tr>


