@model Domain.Course

<td>
    <div>
        @using (Html.BeginForm("EditCourse", "Course", FormMethod.Post, new { style = "display:inline" }))
        {
            @Html.HiddenFor(x => x.ID)
            <button type="submit" class="btn btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        }
        @using (Html.BeginForm("RemoveCourse", "Course", FormMethod.Post, new { style = "display:inline" }))
        {
            <button type="submit" class="btn btn-xs">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        }
    </div>
</td>
<td>
    @Model.Name
</td>
<td>@Model.CreationDate.ToShortDateString()</td>
<td>@( Model.EndDate.HasValue ? Model.EndDate.Value.ToShortDateString() : "--")</td>
</tr>

@*<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Name</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "Course", FormMethod.Post))
        {
            @Html.HiddenFor(p => p.ID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input class="pull-right" type="submit" value="Edit" />
        }
    </div>
</div>*@
