@*@model List<ELearningSystem.Models.Topic>*@
@model ELearningSystem.Models.CourseDetails

@for (int i = 0; i < Model.Topics.Count; i++)
{
    <tr>
        <td>
            <div class="col-sm-12">
                <div class="form-inline">
                    <div class="form-group">

                        <button onclick="MoveUp(this); return false;" class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <button onclick="MoveDown(this); return false;" class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                        <a class="btn btn-xs btn-default" href=@Url.Action("EditTopic", "Topic", new { topicId = Model.Topics[i].ID }) >
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        @Html.Hidden("topicId", Model.Topics[i].ID)

                    </div>
                </div>
            </div>
            @Html.HiddenFor(x => x.Topics[i].CourseId)
            @Html.HiddenFor(x => x.Topics[i].ID)
            @Html.HiddenFor(x => x.Topics[i].OrderNumber)
        </td>
        <td>
            @Html.HiddenFor(x => x.Topics[i].TopicName)
            @Html.DisplayFor(x => x.Topics[i].TopicName)
        </td>
        <td>
            @Html.HiddenFor(x => x.Topics[i].LecturesCount)
            @Html.DisplayFor(x => x.Topics[i].LecturesCount)
        </td>
        <td>
            @Html.HiddenFor(x => x.Topics[i].TestsCount)
            @Html.DisplayFor(x => x.Topics[i].TestsCount)
        </td>
    </tr>
}



@*<div class="col-sm-12 col-sm-offset-1">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <div class="form-inline">
                <div class="col-sm-7">
                    <div class="form-group">
                        <h4>@Model.TopicName</h4>
                    </div>
                </div>
                @using (Html.BeginForm("CreateLecture", "Lecture", new { topicId = @Model.ID }, FormMethod.Post, new { @class = "form-group" }))
                {
                    <input type="submit" value="Add lecture" class="form-control" />
                }
                @using (Html.BeginForm("CreateTest", "Test", new { topicId = @Model.ID }, FormMethod.Post, new { @class = "form-group" }))
                {
                    <input type="submit" value="Add test" class="form-control" />
                }
                @using (Html.BeginForm("EditTopic", "Topic", FormMethod.Post, new { @class = "form-group" }))
                {
                    <input type="submit" value="Edit" class="form-control" />
                    @Html.Hidden("topicId",Model.ID)
                }
            </div>
        </div>
        <div class="panel-body">
            @if (Model.Lectures.Count > 0)
            {
                <h3>Lectures:</h3>
                <ul>
                    @foreach (Domain.Lecture item in @Model.Lectures)
                    {
                        <li>
                            <div>@item.Name</div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <div class="center-block">No lectures</div>
            }
            @if (Model.Tests.Count > 0)
            {
                <h3>Tests</h3>
                <ul>
                    @foreach (var item in @Model.Tests)
                    {
                        <li>
                            <div>@item.Name</div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <div>Add test</div>
            }
        </div>
    </div>
</div>*@
