@using ELearningSystem.Models
@model AccountModel
@{
    AjaxOptions ajaxOpts = new AjaxOptions()
    {
        Url = Url.Action("LoggingIn"),
        UpdateTargetId = "userForm",
        LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        HttpMethod = "POST",
    };
}
<div id="userForm" style="margin-top: 40px;">
    <div id="loading" style="display: none">Loading...</div>
    <div id="loginForm" class="form-group">
        @using (Ajax.BeginForm(ajaxOpts))
        {
            @Html.ValidationSummary()
            <div style="display: block" class="form-group">
                @Html.Label("Login", new { style = "display: inline-block; width: 60px"})
                @Html.TextBoxFor(x => x.UserName, new { style = "width:100px; display:inline-block;", @class="form-control col-md-offset-1" })
            </div>
            <div style="display: block" class="form-group">
                @Html.Label("Password", new { style = "display: inline-block; width: 60px" })
                @Html.PasswordFor(x => x.Password, new { style = "width:100px; display:inline-block;", @class="form-control col-md-offset-1"  })
            </div>
            <div>
                <input type="submit" value="  Log in  " class="btn btn-primary input-medium" onclick="setTimeout(disableFunction, 1);"/>
                @Html.ActionLink("Registration", "Registration", null, new { @class = "col-md-offset-1" })
            </div>
        }
    </div>
</div>

