@model ELearningSystem.Models.TopicForEditing

@{
    ViewBag.Title = "Edit topic";
}

<div class="col-sm-offset-1">
    <div class="form-horizontal">
        <div class="form-group">
            @using (Html.BeginForm("EditCourse", "Course", new { ID = Model.CourseId }, FormMethod.Get, null))
            {
                <div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Back
                    </button>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <h2>@ViewBag.CourseName - @ViewBag.TopicName</h2>
            </div>
        </div>
    </div>
    <legend>
        <div class="col-sm-12">
            <div class="form-inline">
                <div class="form-group">
                    <h3>Lectures</h3>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1">
                        @using (Html.BeginForm("CreateLecture", "Lecture", FormMethod.Get, new { @class = "form-group" }))
                        {
                            @Html.Hidden("topicId", Model.ID)
                            <input type="submit" value=" + Add lecture" class="btn btn-success form-control" />
                        }
                    </div>
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-success form-control col-sm-offset-1" value="Save changes" id="SaveChangesBut" style="display: none" onclick="$('#topicsEditingForm').submit()" />
                </div>
            </div>
            @using (Html.BeginForm("EditTopic", "Topic", FormMethod.Post, new { id = "topicsEditingForm" }))
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Lecture</th>
                            <th>Homework</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        @Html.HiddenFor(x => x.ID)
                        @Html.HiddenFor(x => x.CourseId)
                        @Html.HiddenFor(x => x.OrderNumber)
                        @Html.Partial("LectureSummary", Model)
                    </tbody>
                </table>
            }
        </div>
    </legend>
</div>
