<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">*@
    @Scripts.Render("~/Scripts/MyScript")
    <link href="@Styles.Url("~/Content/css-responsive")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")

</head>
<body>

    <div id="Main" class="span19">
        <div class="page-header">
            <h2>
                @Html.ActionLink("Online courses", "Index", "Home", null, new { style = "text-decoration: none; color:black; margin-left:40px" })
            </h2>
            
        </div>
        <div id="content" class="container row">
            <div class="col-md-2 col-md-offset-1 pull-left">
                    <div class="row">
                        @Html.Partial("Menu")
                    </div>
                    <div class="row">
                        @Html.Action("Login", "Account")
                    </div>
            </div>
            <div class="col-sm-8 col-sm-offset-3 center-block">
                @RenderBody()
            </div>
        </div>
        <div class="footer">КНУ 2014</div>
    </div>




    @RenderSection("scripts", required: false)
</body>
</html>
