<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">*@
    <link href="@Styles.Url("~/Content/css-responsive")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/content/css")
    @*<link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/myscripts")

    @RenderSection("scripts", required: false)
</head>
<body>

    <div id="Main" class="container">
        <div class="page-header">
            <h1>
                @Html.ActionLink("Online academy", "Index", "Home", null, new { style = "text-decoration: none; color:black; margin-left:40px" })
            </h1>

        </div>
        <div id="" class="container row">
            <div class="col-sm-2">
                <div class="row">
                    @Html.Action("Login", "Account")
                </div>
            </div>
            <div class="col-sm-10 center-block">
                @RenderBody()
            </div>
        </div>

        <div class="row container">
            <hr />
            <div class="col-sm-12">
                <footer>
                    &copy; КНУ 2014
                </footer>
            </div>
        </div>
    </div>





</body>
</html>
